*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}


.nav-main ul.nav-menu{
    height: 60px;    
    width: 100%;    
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 100;
}

nav {
    float: left;/* Desplazamos el nav hacia la izquierda */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover{
    background: rgba(0, 0, 0, 0.9);
    transition-duration: 700ms;
}

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.3em;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    font-size: 20px;

}

#inicio{
    height: 1000px;
    width: 100%;
    background-image: url(../img/miramar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 400px;
    padding-left: 20px;
    background-attachment: fixed;
}

#inicio div a{
    width: 100px;    
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;    
    border: 0.4px solid white;
    margin-top: 25px;
}

#inicio a:hover{
    background: rgba(0,0,0,0.5);
}

#galeríaGeneral{
    background-color: rgb(36, 35, 35);
    text-align: center;
    padding-top: 70px;
}

#galería_1, #galería_2, #galería_3, #galería_4, #galería_5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(35,35,35);
} 

#norte, #cataratas, #PeritoMoreno, #Lago_Traful{
    height: max-content;
    width: max-content;    
    border: 0.4px solid white;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 13px;
    padding: 10px;
    font: normal 13px/1.4em courier new,courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace,courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
    color: rgb(35,35,35);
}


.Cataratas, .LagoTraful, .PeritoMotena, .Norte{
    height: 500px;
}


#botonGaleria div a, #botonProyecto div a{
    display: block;
    border: 0.4px solid white;
    width: 210px;
    margin-top: 25px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    z-index: 2;
}

#sobreMi{
    background-color: rgb(35,35,35);
    text-align: center;
    padding-top: 60px;
}

#sobreMi_1{
    height: auto;    
    background-image: url(../img/cordoba.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    text-align: center;
    color: black;
}

#sobreMi_2{
    height: auto;    
    background-image: url(../img/tucuman_1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    text-align: center;
    color: black;
}

#textoSobreMi_1{
    height: 100%;    
    display: block;
    text-align: left;
    padding: 20px;
    margin-left: 50%;
    margin-right: 50px;
    background: rgba(20, 20, 20, 0.8);
    font-size: 15px;
    letter-spacing: 0.2em;
    color: white;
}

#contactoFooter{
    background-color: rgb(35,35,35);
    text-align: center;
    padding-top: 60px;
}

#contactoSeccion{
    height: auto;    
    background-image: url(../img/amanecer.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#textoContacto{
    height: 100%;    
    display: block;
    text-align: left;
    padding-left: 20px;
    margin-left: 50%;
    margin-right: 50px;
    margin-bottom: 0%;
    background: rgba(20,20,20,0.8);
    font-size: 15px;
    letter-spacing: 0.2em;
    color: white;
}

.linkedIn{
    color: white;
    text-decoration: none;
}

/* Si la página se va chicando para que no se deformen las imagenes */

@media (max-width:1200px) {

    .Cataratas, .LagoTraful, .PeritoMotena, .Norte{
        height: 100%;
        }

    #textoSobreMi_1{
        margin-left: 50px;
    }
    
    #textoContacto{
        margin-left: 50px;
    }
}

/* Mobile */

@media (max-width:700px) {
    .menu-btn {
        display: block;
        position: fixed;
    }
    
    .menu-btn:hover {
        opacity: 0.5;
    }

    .nav-main ul.nav-menu {
        height: 100%;  
        width: 170px;              
        display: block;
        top: 0;
        left: 0;
        padding-left: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-main ul.nav-menu li {
        font-size: 10px;
    }
    
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }
    
    #textoSobreMi_1, #textoContacto{
        margin-left: 100px;
        font-size: 12px;
    }
}

@media (max-width:500px) {   
    #textoSobreMi_1, #textoContacto{
        margin-left: 25px;
        margin-right: 25px;
        font-size: 12px;
    }
}
